body {
}

.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-width: 1000px;
    max-width: 1200px;
    min-height: 800px;
    
}

/*glowny div ktory trzyma menu po lewej i panel po srosku*/
.main
{
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
}



/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 2px black solid;
    padding: 0 0 0px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: black;
}

ul#menu li a {
    padding: 5px 30px;
    font-weight: bold;
    text-decoration: none;
    line-height: 1.8em;
    background-color: white;
    color: black;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0 0;
    
    border-top: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

ul#menu li a:hover {
    background-color: Silver;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

nav, 
#menucontainer {
   
}

/*pierwszy element w glownym divie.. */
.AdminIndexPanel
{
    position: relative;
    top: 20px;
    height: 500px;
    border-right: 2px black solid; 
    width: 20%;
    margin: 0 0 -20000px 5px;
    padding-bottom: 20000px;
    height: 100%;
    float: left;
}

.UsersLabelDiv
{
  border-bottom: 2px black solid;        
  width: 180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.UsersLabel
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 20px;
    font-size: larger;
}


.UsersMenu
{
    list-style: none;
    text-decoration: none;  
    position: relative;
    left: -10px ;
    top: -10px;  
}

.UsersMenu li a{
    text-decoration: none;
    color: Black;
}

.UsersMenu li a:hover {
    color: #7A7A7A;
}

.RolesLabelDiv
{
  border-bottom: 2px black solid;        
  width: 180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.RolesLabel
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 20px;
    font-size: larger;
}

.RolesMenu
{
    list-style: none;
    text-decoration: none;  
    position: relative;
    left: -10px ;
    top: -10px;  
}

.RolesMenu li a{
    text-decoration: none;
    color: Black;
}

.RolesMenu li a:hover {
    color: #7A7A7A;
}

/* ...i drugi*/
.AdminPlaceHolder{
    width: 70%;
    padding: 10px 0 0 15px;
    position: relative;
    left: 10px;
    top: 20px;
    float: left;
    
    margin-bottom: -20000px;
    padding-bottom: 20000px;
}

/* Create roles  */

.roles
{
    list-style: none;
}
.rolesHeader
{
    background-color: #4775FF;
   color: Black;
   position: relative;
   padding: 10px 10px 10px 10px;
   width: 300px;
   border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
}

/* Glowny */
.mainRole
{
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
}

/*pierwszy*/
.roleName
{
    position: relative;
     
    width: 40%;
    margin: 0 0 -20000px 5px;
    padding-bottom: 20000px;
    height: 100%;
    float: left;
}

/* drugi*/
.deleteAction{
    width: 20%;
    position: relative;
    float: right;
    border-left: 1px black solid;
    padding: 0 0 0 10px;
    margin-bottom: -20000px;
    padding-bottom: 20000px;
}


/* Create user*/

.rej
{
    display: block;
    
    width: 750px;
    position: relative;
    margin: 7px 0 7px 0;
    
}

/* glowny div*/
.polaRejestracji
{
    z-index: 0;
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0px 20px 20px 0;
}

.formaRejestracji
{
    width: 60%;
    margin: 0 0 -20000px 5px;
    padding-bottom: 20000px;
    height: 100%;
    float: left;    
}
.display-labelR {
    /*margin: 1em 120px 0 0;*/
    position: relative;
    display: inline;
    left: 0px;
}
.editor-labelR {
    /*margin: 1em 120px 0 0;*/
    position: absolute;
    display: inline;
    right: 350px;
}
.validation-labelR
{
   position: absolute;
   display: inline;
   right: 0px;  
   top: 2px;   
}


.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

input[type="text"], 
input[type="datetime"],
input[type="password"] {
    width: 200px;
}

.divfields
{
    width: 400px;
    position: relative;
    padding: 0 0 20px 0;
}


