

.LabelNazwaMiasta
{
    
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 20px;
    width: auto;
    
    border-top: 2px black solid;
    border-bottom: 2px black solid;
 
   
        
}
.RestauracjeMapa
{
    padding: 0 200px; /* padding = długość lewych paneli */
    min-width: 800px  /* minimalna długość środka */
    
}

.PanelListaRestauracji
{
    margin-top: 0px;
    min-height: 400px;
    height: 400px;
    min-width: 200px;
    width: 200px;
    position: relative;
    float: left;
    right: 230px;
    margin-left: 30px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
}

.PanelMapa
{
    margin-top: 20px;
    margin-left: 100px;
    min-height: 400px;
    height: 400px;
    min-width: 600px;
    width: 600px;  
    
     border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
    
}