p
{
    color: Blue;
}

.main
{
    max-width: 1200px;
    min-width: 300px;   
    
}

.all
{
    padding: 0 250px; /* padding = długość lewych paneli */
    min-width: 460px  /* minimalna długość środka */
}


.lewypanel
{
    
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    margin: 0;
    text-align: left;
    position: relative;
    padding: 0 20px 0 0;
    height: 600px;
    width: 200px; 
    overflow: scroll;
    background: no-repeat;
    float: left;
    right: 230px;
    margin-left: -30px;
    
    
}

.KategorieDropDownList
{
    position: relative;
    left: 10px;    
    top: 10px;
}

.RestauracjeBulletedList
{
    position: relative;
    left: 10px;    
    top: 10px;    
}

.PanelInfo
{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    
    text-align: left;
    position: relative;
    height: 200px;
    width: 400px;
    overflow: scroll;
    width: 100%;
    top: -603px;
}