
p
{
    color: Blue;
}
lewa
{
    padding: 0;
    position: relative;
    background-color: black;
    left: 50px;  
    top: 50px;  
}

.lewypanel
{
    
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    padding: 2px 20px 2px 0 ;
    margin: 0;
    text-align: left;
    position: relative;
    z-index: 3;
    overflow: visible;
    height: 600px;
    width: 200px; 
}

.KategorieDropDownList
{
    position: relative;
    left: 10px;    
    top: 10px;
}

.RestauracjeBulletedList
{
    position: relative;
    left: 10px;    
    top: 10px;    
}