.main
{
     
}

.all
{
    padding-left:20px;
   
    width: 100%;
    clear: both;
    height: 105%;
    overflow: hidden;
    padding-bottom: 20px; 
     
}


.lewypanel
{
    
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    
    text-align: left;
    position: relative;
    padding: 0 5px 0 5px;
    min-height: 488px;
    height: 100%;
    margin: 0 20px 0 0 ; 
    overflow: scroll;
    background-color: #FFEDD7;
    float: left;
    margin-left: -20px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
    width: 30%;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    
}
.resInfo
{
    
}

.DropDownListKategorie
{
    position: relative;
    left: 10px;    
    top: 10px;
    width: 200px;
}

.BulletedListRestauracje
{
    position: relative;
    left: 10px;    
    top: 10px;    
}

.PanelInfo
{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    width: 60%;
    text-align: left;
    position: relative;
    height: 150px;
    float: left;
    overflow: scroll;
    margin: 0 0 20px;
    
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
    margin: 10px, 0, 0, 10px;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    background-color: #FFEDD7;
}

.PanelWybor
{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: #FFEDD7;
    text-align: left;
    position: relative;
    margin: 0 0 20px;
    overflow: scroll;
    width: 60%;
    text-align: left;
    position: relative;
    height: 130px;
    float: left;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.LabelWybierzMiasto
{
    position: absolute;
    padding: 10px 10px 0 20px;
    
}

.DropDownListWybierzMiasto
{
    position: absolute;
    left: 10px;  
    top: 30px;  
    max-width: 200px;
    min-width: 200px;
}

.LabelWybierzRestauracje
{
    position: relative;
    padding: 10px 0 0 40px; 
    display: none;
        
}

.DropDownListWybierzRestauracje
{
    position: absolute;
    left: 230px;  
    top: 38px;  
    max-width: 200px;
    min-width: 200px;
    display: none;
    
}

.ButtonWybierzMiasto
{
    position: absolute;
    left: 10px;  
    top: 80px;  
    max-width: 200px;
    min-width: 200px;
    
}
.searchTxb
{
    position: relative;  
    top: 40px;  
}


.ButtonWybierzRestauracje
{
    position: absolute;
    left: 230px;  
    top: 82px;  
    max-width: 200px;
    min-width: 200px;
    font-size: small;
    height: 30px;
    
}

.Panelstatystyki
{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
    margin-top: 10px;
    text-align: left;
    position: relative;
    height: 150px;
    overflow: scroll;      
    width: 60%;
    text-align: left;
    position: relative;
    float: left;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0; 
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
    background-color: #FFEDD7;
}

.stats
{      
    position: relative;
    padding: 10px 10px 0 10px; 
}

.licznik
{
    
    padding: 30px 0 0 20px;    
    
}

.resInfo
{
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;    
    font-size: large;
    padding: 0 0 2px 0;
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out;
    
}

.resInfo:hover
{
    cursor: hand; 
    cursor: pointer;
    margin-left: 0px;
    border: solid 1px #CCC;
	-moz-box-shadow: 2px 2px 2px #6E5139;
	-webkit-box-shadow: 2px 2px 2px #6E5139;
    box-shadow: 2px 2px 2px #6E5139;
    -webkit-border-radius: 10px 10px 10px 10px;
    margin-right: 13px;
}

