body {
}

.deletephoto
{
    background: url(/Content/images/Delete.png);
    width:15px;
    height:15px;
    background-size: auto 100%;    
}
.gallery
{
    display: inline;
}
 
.galleryElement
{
    list-style: none;
    float: left;
    display: inline;
}

.mainLogo
{
         
}
.buttonAndImg
{
    list-style: none;    
}
