
.main
{
    max-width: 1200px;
    min-width: 300px;
}

.allRestaurant
{
    padding: 0 250px; /* padding = długość lewych paneli */
    min-width: 160px;  /* minimalna długość środka */ 
    min-height: 600px;
}

.menu {
    padding: 2px 2px 2px 2px ;
    position: relative;
    margin: 0;
    text-align: left;
}

.menu li {
    display: inline;
    list-style: none;
}

.menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

.menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #2B2B2B;
    color: #FFE4C4;
    
}

.menu li a:hover {
    background-color: #FFE4C4;
    text-decoration: none;
    color: #926641;
}

.menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

.menu li.selected a {
    background-color: #fff;
    color: #000;
}

.menucontainer {
    margin-top: 0px;
}


.PaneleOpisRestauracji
{
    width: 100%;
    clear: both;
    height: 100%;
    overflow: hidden;
}

.PanelOpisRestauracji
{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: left;
    position: relative;
    padding: 0 20px 0 0;
    min-height: 400px;
    width: 250px; 
    overflow: scroll;
    background: no-repeat;
    float: left;
    margin: 20px 10px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;    
}

.PanelTotoPromocje
{
    position: relative;
    padding: 0 20px 0 0;
    min-height: 200px;
    min-width: 250px; 
    overflow: scroll;
    background: no-repeat;
    float: left;
    margin: 20px 10px;
    text-align: left;
}


.PanelToto
{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: left;
    position: relative;
    padding: 0 20px 0 0;
    min-height: 200px;
    min-width: 300px; 
    overflow: scroll;
    background: no-repeat;
    float: top;
    margin: 0 10px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;      
    
}

.PanelPromocje
{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    text-align: left;
    position: relative;
    padding: 0 20px 0 0;
    min-height: 200px;
    min-width: 300px;  
    overflow: scroll;
    background: no-repeat;
    float: top;
    margin: 20px 10px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 4px 0 0 0;
}

.DivKategorie
{
    height: 200px;
    margin-top: 5px;
    position: relative;

}


.Kategorie {
    
    padding: 0 0 1px ;
    position: relative;
    text-align: left;
    margin-top: 5px;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    width: 150px;
    display: block;
    float: left;
	list-style: none;
	margin: 0;
	padding: 0;
    
}

.Kategorie li {
    display: block;
    list-style: none;
    margin: 1px;
    min-width: 130px;
    background-color: #2B2B2B;
    text-align: center;
    
}

.Kategorie li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
    
}

.Kategorie li a {
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #2B2B2B;
    color: #FFE4C4;
    text-align: center;
    
}

.Kategorie a:link {
	display: block;
	width: 144px;
	border: 2px outset #ccc;
}


.Kategorie li a:hover {
    background-color: #FFE4C4;
    text-decoration: none;
    color: #926641;
}

.Kategorie li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

.Kategorie li.selected a {
    background-color: #fff;
    color: #000;
}

.PanelDania
{
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    border-left: 2px black solid;
    border-right: 2px black solid;
    min-width: 200px;   
    min-height: 200px;
    position: relative;
    left: 5px;
}
.PanelDowoz
{
    min-height: 100px;
    min-width: 300px;
    
}

#tabs-left {
	position: relative;
	padding-left: 6.5em;
	min-height: 200px;
}
#tabs-left .ui-tabs-nav {
	position: absolute;
	left: 0.25em;
	top: 0.25em;
	bottom: 0.25em;
	width: 6em;
	padding: 0.2em 0 0.2em 0.2em;
}
#tabs-left .ui-tabs-nav li {
	right: 1px;
	width: 100%;
	border-right: none;
	border-bottom-width: 1px !important;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
	overflow: hidden;
}
#tabs-left .ui-tabs-nav li.ui-tabs-selected {
	border-right: 1px solid transparent;
}



#tabs-left .ui-tabs-nav li a { 
float: right;
text-align: right;
width: 100%;
}


#tabs-left .ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
cursor: text;
}


#tabs-left .ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
cursor: pointer;
}


#tabs-left .ui-tabs .ui-tabs-nav li a { 
float: left;
padding: 0.5em 1em;
text-decoration: none;
}


#tabs-left .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
color: #459E00;
outline: medium none currentColor;
text-decoration: none;
}

#tabs-left .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { 
color: #FFFFFF;
outline: medium none currentColor;
text-decoration: none;
}

#tabs-left .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
color: #459E00;
outline: medium none currentColor;
text-decoration: none;
}

#tabs-left .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { 
color: #FFFFFF;
outline: medium none currentColor;
text-decoration: none;
}

#tabs-left .ui-widget-header a { 
color: #433F38;
}

#tabs-left .ui-widget-content a { 
color: #312E25;
}
.produkty-fieldset
{
    height: 100%;    
    min-height: 200px;
}